	html {
		height: 100%;
	}
	body {
		background-image: url("fondo.jpg");
  		background-repeat: no-repeat;
  		background-attachment: fixed;
  		background-size: cover;
		background-position: center;
	}

		/* body:before will also work
	 as will body:after */
	:root:before {
	  content: url("fondo.jpg")
	  /* partial fallback */
	  background-image: url("fondo.jpg");
	  visibility: hidden;
	  position: absolute;
	  left: -999em;
	}
	#izq {
		text-align: center;
		font-size: 38px;
		font-weight: bold;
		height: 300px;
		position: fixed;
    	bottom: 0px;
    	left: 0px;
    	background-color: rgba(197, 66, 244, 0.7);
    	border-right-color: white;
    	border-right-style: solid;
    	border-right-width: 1px;
    	display: flex;
  		align-items: center;
  		justify-content: center;
  		padding-top: 20px;
  		transition: 0.7s;
	}
	#izq:hover {
		font-size: 40px;
		background-color: rgba(197, 66, 244, 0.9);
		cursor: pointer;
	}

	#der {
		text-align: center;
		font-size: 38px;
		font-weight: bold;
		align-content: center;
		height: 300px;
    	background-color: rgba(220, 60, 244, 0.7);
    	border-left-color: white;
    	border-left-style: solid;
    	border-left-width: 1px;
		position: fixed;
    	bottom: 0px;
    	right: 0px;
    	display: flex;
  		align-items: center;
  		justify-content: center;
  		padding-top: 20px;
  		transition: 0.7s;
	}
	#der:hover {
		font-size: 40px;
		background-color: rgba(220, 60, 244, 0.9);
		cursor: pointer;
	}

	#titulo {
		text-align: center;
		height: 200px;
		position: relative;
	}
	#titulo p {
		position: relative;
		padding-top: 10em;
  		font-size: 4.5em;
  		color: white;
  		text-shadow: 1px 1px black;
	}


	/*@media (min-width:320px)  {  }
	@media (min-width:481px)  { }
	@media (min-width:641px)  { }
	@media (min-width:961px)  { }
	@media (min-width:1025px) { }
	@media (min-width:1281px) { }*/

	/*
	  ##Device = Desktops
	  ##Screen = 1281px to higher resolution desktops
	*/

	@media (min-width: 1281px) {

		#izq {
			text-align: center;
			font-size: 22px;
			height: 125px;
			position: fixed;
	    	bottom: 0px;
	    	left: 0px;
	    	background-color: rgba(197, 66, 244, 0.7);
	    	border-right-color: white;
	    	border-right-style: solid;
	    	border-right-width: 1px;
	    	display: flex;
	  		align-items: center;
	  		justify-content: center;
	  		padding-top: 20px;
	  		transition: 0.7s;
		}
		#izq:hover {
			font-size: 24px;
			background-color: rgba(197, 66, 244, 0.9);
			cursor: pointer;
		}

		#der {
			text-align: center;
			font-size: 22px;
			align-content: center;
			height: 125px;
	    	background-color: rgba(220, 60, 244, 0.7);
	    	border-left-color: white;
	    	border-left-style: solid;
	    	border-left-width: 1px;
			position: fixed;
	    	bottom: 0px;
	    	right: 0px;
	    	display: flex;
	  		align-items: center;
	  		justify-content: center;
	  		padding-top: 20px;
	  		transition: 0.7s;
		}
		#der:hover {
			font-size: 24px;
			background-color: rgba(220, 60, 244, 0.9);
			cursor: pointer;
		}

		#titulo {
			text-align: center;
			height: 100px;
			position: relative;
		}
		#titulo p {
			position: relative;
			padding-top: 2em;
	  		font-size: 3.5em;
	  		color: white;
	  		text-shadow: 1px 1px black;
		}

	}

	/*
	  ##Device = Laptops, Desktops
	  ##Screen = B/w 1025px to 1280px
	*/

	@media (min-width: 1025px) and (max-width: 1280px) {

		#izq {
			text-align: center;
			font-size: 22px;
			height: 125px;
			position: fixed;
	    	bottom: 0px;
	    	left: 0px;
	    	background-color: rgba(197, 66, 244, 0.7);
	    	border-right-color: white;
	    	border-right-style: solid;
	    	border-right-width: 1px;
	    	display: flex;
	  		align-items: center;
	  		justify-content: center;
	  		padding-top: 20px;
	  		transition: 0.7s;
		}
		#izq:hover {
			font-size: 24px;
			background-color: rgba(197, 66, 244, 0.9);
			cursor: pointer;
		}

		#der {
			text-align: center;
			font-size: 22px;
			align-content: center;
			height: 125px;
	    	background-color: rgba(220, 60, 244, 0.7);
	    	border-left-color: white;
	    	border-left-style: solid;
	    	border-left-width: 1px;
			position: fixed;
	    	bottom: 0px;
	    	right: 0px;
	    	display: flex;
	  		align-items: center;
	  		justify-content: center;
	  		padding-top: 20px;
	  		transition: 0.7s;
		}
		#der:hover {
			font-size: 24px;
			background-color: rgba(220, 60, 244, 0.9);
			cursor: pointer;
		}

		#titulo {
			text-align: center;
			height: 100px;
			position: relative;
		}
		#titulo p {
			position: relative;
			padding-top: 2em;
	  		font-size: 3.5em;
	  		color: white;
	  		text-shadow: 1px 1px black;
		}
	}

	/*
	  ##Device = Tablets, Ipads (portrait)
	  ##Screen = B/w 768px to 1024px
	*/

	@media (min-width: 641px) and (max-width: 1024px) {

		#der,
		#izq {
			height: 300px;
			font-size: 34px;
		}
		#der:hover {
			font-size: 36px;
			background-color: rgba(220, 60, 244, 0.9);
			cursor: pointer;
		}
		#izq:hover {
			font-size: 36px;
			background-color: rgba(197, 66, 244, 0.9);
			cursor: pointer;
		}

		#titulo {
			text-align: center;
			height: 100px;
			position: relative;
		}
		#titulo p {
			position: relative;
			padding-top: 8em;
	  		font-size: 4.5em;
	  		color: white;
	  		text-shadow: 1px 1px black;
		}

	}

	/*
	  ##Device = Tablets, Ipads (landscape)
	  ##Screen = B/w 768px to 1024px
	*/

	@media (min-width: 641px) and (max-width: 1024px) and (orientation: landscape) {

	  #der,
		#izq {
			height: 100px;
			font-size: 22px;
		}
		#der:hover {
			font-size: 24px;
			background-color: rgba(220, 60, 244, 0.9);
			cursor: pointer;
		}
		#izq:hover {
			font-size: 24px;
			background-color: rgba(197, 66, 244, 0.9);
			cursor: pointer;
		}

		#titulo {
			text-align: center;
			height: 100px;
			position: relative;
		}
		#titulo p {
			position: relative;
			padding-top: 1em;
	  		font-size: 3.5em;
	  		color: white;
	  		text-shadow: 1px 1px black;
		}

	}

	/*
	  ##Device = Low Resolution Tablets, Mobiles (Landscape)
	  ##Screen = B/w 481px to 767px
	*/

	@media (min-width: 481px) and (max-width: 640px) {
		#der,
		#izq {
			height: 100px;
			font-size: 22px;
		}
		#der:hover {
			font-size: 24px;
			background-color: rgba(220, 60, 244, 0.9);
			cursor: pointer;
		}
		#izq:hover {
			font-size: 24px;
			background-color: rgba(197, 66, 244, 0.9);
			cursor: pointer;
		}

		#titulo {
			text-align: center;
			height: 100px;
			position: relative;
		}
		#titulo p {
			position: relative;
			padding-top: 1em;
	  		font-size: 3.5em;
	  		color: white;
	  		text-shadow: 1px 1px black;
		}
	}

	/*
	  ##Device = Most of the Smartphones Mobiles (Portrait)
	  ##Screen = B/w 320px to 479px
	*/

	@media (min-width: 320px) and (max-width: 480px) {

		#izq {
			text-align: center;
			font-size: 38px;
			font-weight: bold;
			height: 300px;
			position: fixed;
	    	bottom: 0px;
	    	left: 0px;
	    	background-color: rgba(197, 66, 244, 0.7);
	    	border-right-color: white;
	    	border-right-style: solid;
	    	border-right-width: 1px;
	    	display: flex;
	  		align-items: center;
	  		justify-content: center;
	  		padding-top: 20px;
	  		transition: 0.7s;
		}
		#izq:hover {
			font-size: 40px;
			background-color: rgba(197, 66, 244, 0.9);
			cursor: pointer;
		}

		#der {
			text-align: center;
			font-size: 38px;
			font-weight: bold;
			align-content: center;
			height: 300px;
	    	background-color: rgba(220, 60, 244, 0.7);
	    	border-left-color: white;
	    	border-left-style: solid;
	    	border-left-width: 1px;
			position: fixed;
	    	bottom: 0px;
	    	right: 0px;
	    	display: flex;
	  		align-items: center;
	  		justify-content: center;
	  		padding-top: 20px;
	  		transition: 0.7s;
		}
		#der:hover {
			font-size: 40px;
			background-color: rgba(220, 60, 244, 0.9);
			cursor: pointer;
		}

		#titulo {
			text-align: center;
			height: 100px;
			position: relative;
		}
		#titulo p {
			position: relative;
			padding-top: 10em;
	  		font-size: 4.5em;
	  		color: white;
	  		text-shadow: 1px 1px black;
		}
	}


	/* Small devices (portrait tablets and large phones, 600px and up)
	@media only screen and (orientation: portrait) and (min-width: 600px) {
		#izq {
			text-align: center;
			font-size: 38px;
			height: 300px;
			position: fixed;
	    	bottom: 0px;
	    	left: 0px;
	    	background-color: rgba(197, 66, 244, 0.7);
	    	border-right-color: white;
	    	border-right-style: solid;
	    	border-right-width: 1px;
	    	display: flex;
	  		align-items: center;
	  		justify-content: center;
	  		padding-top: 20px;
	  		transition: 0.7s;
		}
		#izq:hover {
			font-size: 40px;
			background-color: rgba(197, 66, 244, 0.9);
			cursor: pointer;
		}

		#der {
			text-align: center;
			font-size: 38px;
			align-content: center;
			height: 300px;
	    	background-color: rgba(220, 60, 244, 0.7);
	    	border-left-color: white;
	    	border-left-style: solid;
	    	border-left-width: 1px;
			position: fixed;
	    	bottom: 0px;
	    	right: 0px;
	    	display: flex;
	  		align-items: center;
	  		justify-content: center;
	  		padding-top: 20px;
	  		transition: 0.7s;
		}
		#der:hover {
			font-size: 40px;
			background-color: rgba(220, 60, 244, 0.9);
			cursor: pointer;
		}

		#titulo {
			text-align: center;
			height: 100%;
			position: relative;
		}
		#titulo p {
			position: relative;
			padding-top: 10em;
	  		font-size: 4.5em;
	  		color: white;
	  		text-shadow: 1px 1px black;
		}
	}*/

	/* Medium devices (landscape tablets, 768px and up)
	@media only screen and (orientation: portrait) and (min-width: 768px) {
		#izq {
			text-align: center;
			font-size: 36px;
			height: 300px;
			position: fixed;
	    	bottom: 0px;
	    	left: 0px;
	    	background-color: rgba(197, 66, 244, 0.7);
	    	border-right-color: white;
	    	border-right-style: solid;
	    	border-right-width: 1px;
	    	display: flex;
	  		align-items: center;
	  		justify-content: center;
	  		padding-top: 20px;
	  		transition: 0.7s;
		}
		#izq:hover {
			font-size: 38px;
			background-color: rgba(197, 66, 244, 0.9);
			cursor: pointer;
		}

		#der {
			text-align: center;
			font-size: 36px;
			align-content: center;
			height: 300px;
	    	background-color: rgba(220, 60, 244, 0.7);
	    	border-left-color: white;
	    	border-left-style: solid;
	    	border-left-width: 1px;
			position: fixed;
	    	bottom: 0px;
	    	right: 0px;
	    	display: flex;
	  		align-items: center;
	  		justify-content: center;
	  		padding-top: 20px;
	  		transition: 0.7s;
		}
		#der:hover {
			font-size: 38px;
			background-color: rgba(220, 60, 244, 0.9);
			cursor: pointer;
		}

		#titulo {
			text-align: center;
			height: 100%;
			position: relative;
		}
		#titulo p {
			position: relative;
			padding-top: 6em;
	  		font-size: 4.5em;
	  		color: white;
	  		text-shadow: 1px 1px black;
		}
	}*/

